{% extends "Template.twig" %}
{% block conteudo %}
    <div class="col-sm-12">
        <h2>Edição de postagem</h2>
        <form action="./postagem/salvar" method="post">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" name="titulo" id="titulo" value="{{ postagem.titulo }}" required>
            </div>
            <div class="form-group">
                <label for="autor">Autor</label>
                <select name="autor" id="autor" class="form-control" required>
                    <option>Selecione um autor</option>
                    {% for autor in usuarios %}
                        <option value="{{ autor.id }}" {% if postagem.autor == autor %}selected{% endif %}>{{ autor.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="resumo">Resumo:</label>
                <textarea name="resumo" id="resumo" class="form-control" required>{{ postagem.resumo }}</textarea>
            </div>
            <div class="form-group">
                <label for="texto">Texto:</label>
                <textarea name="texto" id="texto" class="form-control" required>{{ postagem.texto }}</textarea>
            </div>
            <input type="hidden" name="id" value="{{ postagem.id }}">
            <button type="submit" class="btn btn-success pull-right"><i class="glyphicon glyphicon-save"></i> Salvar</button>
        </form>
    </div>
    <script>
        $(function () {
            $('#resumo').summernote({height: 100});
            $('#texto').summernote({height: 200});
        });
    </script>
{% endblock %}
